@import '~antd/dist/antd.css';

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

#brand {
  color: white;
  margin-right: 8px;
}

#root, #root > div {
  min-height: 100%;
}

#root .ant-layout-content {
  padding: 24px;
}

.ant-list-item-meta-content {
  max-width: 86%;
}